package web

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>MTG App</title>
            <link href="assets/css/output.css" rel="stylesheet"/>
			<script src="assets/js/htmx.min.js"></script>
		</head>
		<body class="flex flex-col min-h-screen">
			<main class="flex-grow">
				{ children... }
			</main>
		<footer class="bg-gray-200 text-center p-4 mt-8 w-full">
			<p>© 2024 MTG App</p>
        </footer>
		</body>
	</html>
}
